.item{
    margin: 20px auto;
    width: 60vw;
    background-color: rgb(151, 247, 247);
    border-radius: 20px;
    padding: 20px;
}
.openmenu-item{
    margin: 20px auto;
    margin-right: 600px;
    width: 60vw;
    background-color: rgb(151, 247, 247);
    border-radius: 20px;
    padding: 20px;
}
.container{
    margin: 20px auto;
}
.connect{
    height: 70px;
    width: 200px;
    font-size: 2.5rem;
    font-weight: 800;
    position: fixed;
    left: 60px;
    color: rgb(27, 15, 15);
    background-color: rgb(135, 252, 151);
    bottom: 60px;
    border-radius: 10px;
}
.hide{
    display: none;
}