.login-form{
    background-color: rgb(194, 177, 177);
    margin: auto;
    margin-top: 5vh;
    padding-top: 5vh;
    height: 40vh;
    width: 30vw;
}
.login-body{
    background-color: grey;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 70px;
    left: 0;
}